<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener Microservice</title>
    <meta name="description" content="URL shortener made with Glitch.com">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="main">
    <h1>
      URL Shortener Microservice
    </h1>
    
    <h2>
      How It Works
    </h2>

    <p>
      To get a shortened URL, pass a URL to the /new/ endpoint. If your request contains a valid URL, the service will return 
      a shortened form containing an ID number.
    </p>
      <p>
        Examples:
      </p>
      <ul>
        <li><a href="https://miniurl-jsanderson.glitch.me/new/http://www.google.com">
          https://miniurl-jsanderson.glitch.me/new/http://www.google.com</a>
        </li>
        <li><a href="https://miniurl-jsanderson.glitch.me/new/http://www.bbc.co.uk">
          https://miniurl-jsanderson.glitch.me/new/http://www.bbc.co.uk</a>
        </li>
        <li><a href="https://miniurl-jsanderson.glitch.me/new/not a valid URL">
          https://miniurl-jsanderson.glitch.me/new/not a valid URL</a>
        </li>
      </ul>
      
      
      <p>
        To return an existing shortened URL, pass the ID number to the /s/ endpoint. If your request contains a saved URL, 
        the service will redirect you to it.
      </p>
      <p>
        Examples:
      </p>
      <ul>
        <li><a href="https://miniurl-jsanderson.glitch.me/s/1">https://miniurl-jsanderson.glitch.me/s/1</a></li>
        <li><a href="https://miniurl-jsanderson.glitch.me/s/5">https://miniurl-jsanderson.glitch.me/s/5</a></li>
        <li><a href="https://miniurl-jsanderson.glitch.me/s/0">https://miniurl-jsanderson.glitch.me/s/0</a></li>
      </ul>
      
    </div>
    <div id="footer">
      <p>
        Created by <a href="https://github.com/J-Sanderson">J. Sanderson</a> for <a href="https://www.freecodecamp.org">freeCodeCamp</a>.
      </p>
    </div>

  </body>
</html>